.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 4%
    right: 42%
  &-2
    animation: float1 3.0s ease-in-out infinite alternate
    position: absolute
    top: 13%
    right: 16%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 63%
    right: 18%
  &-4
    animation: float1 2s ease-in-out infinite alternate
    position: absolute
    top: 39%
    right: 3%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
///////////CUSTOM BANNER PRINCIPAL E INTERNO/////////////
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption, table caption
  font-weight: normal

.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important


.banner-interno__fondo
  background-image: url("../assets/curso/banner_interno.png") !important
  background-color: $color-secundario !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
  @media screen and (max-width: $bp-max-xs)
    background-image: url("../assets/curso/portada/fondo-banner-principal-xs.png") !important

.text-end 
    text-align: left !important
  
//////////Background_Color///////////
.bg-color
  &-1
    background-color: #F1EAFD !important
  &-2
    background-color: #E1E7FB !important
  &-3
    background-color: #E2D5FB
  &-4
    background-color: #E1E7FB
  &-5
    background-color: #F0F3FD
  &-6
    background-color: #E2E7F7
  &-7
    color: #EC5ACA !important
  &-8
    background-color: #FFF5D9
  &-9
    background-color: #FCEAF5
  &-10
    background-color: #FAD5ED
  &-11
    border-color: #FF00B8 !important
  &-12
    background-color: #DEEAFF
  &-13
    background-color: #FFF6DE !important
  &-white
    background-color: white !important
    border: 1px solid $lightest-gray
  &-secundario
    background-color: $color-secundario !important
  &-sintesis
    background-color: #F6F6F6

///////Full Width Background///////////////////
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem
.bg-full-width-2
  background-size: contain
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
  @media screen and (max-width: $bp-max-sm)
    padding-left: 1.5rem
    padding-right: 1.5rem

///////////////fondos/////////////////
.bg-fondo
  &-1
    background-image: url("../assets/curso/bg1.png") !important
    background-position: top
  &-2
    background-image: url("../assets/curso/bg2.png") !important
    background-position: bottom
    background-size: cover
  &-3
    background-image: url("../assets/curso/bg3.png") !important
    background-position: bottom
    background-size: cover
  &-slider
    background-image: url("../assets/curso/bg-slider.png") !important
    background-position: bottom


//////////////CUSTON SLYDER-A////////
.slyder-a__bullets__item 
  background-color: #BAB5CB
  border: #BAB5CB
.slyder-a__bullets__item--active
  background-color: #3A2B6B
.slyder-a__btn--atrs, .slyder-a__btn--sigt
  background-color: #FFB800

/////////IMG_100%_CAJON_MEDIO/////////
.pst
  position: relative
  z-index: 2
.banner-text
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px
  padding: 20px 30px
  margin-top: -60px
  @media screen and (max-width: $bp-max-sm)
    margin-top: -10px

table td
  text-align: start !important

///////////////TABLAS/////////////////// 
.tbl
  table td
    text-align: start !important
  th, td, table thead th, .tabla-a th 
    border: 2px solid #B5B5B5
  table
    table-layout: auto
  
.boton.color-acento-botones *
  color: $color-sistema-texto !important

/////////////ACORDION/////////////
.acordion__accion__btn--a
  background-color: $color-acento-botones !important
  color: $color-sistema-texto
.acordion__activo
  background-color: #EDEDED !important
.acordion_titulo
  color: #fff !important
.acordion__titulo 
  h3
    color: $color-sistema-texto  !important
.acordion__activo
  .acordion__titulo 
    h3
      color: $color-sistema-texto !important

//////////////CUSTOM TABS-A/////////////
.tabs-a.color-acento-botones .tabs-a__tab__selected 
  background-color: #FFD256
  color: $color-sistema-texto
.tabs-a.color-acento-botones .tabs-a__tab__selected:before 
  background-color: #FFD256
.tabs-a__tab
  background-color: #F1F6FF
.tarjeta.color-acento-botones--borde
  background-color: #E2E7F7
  border: solid 4px #E2E7F7
.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus 
    background-color: #FFD256
    color: $color-sistema-texto

////////////AJUSTE TAMAÑO CONTERNEDOR IZQUIERO TABS-A//////////
.tabs-a
  @media (min-width: 1200px) 
    .row
      .col-xl-3 
        flex: 0 0 auto
        width: 50%
      .col-xl-9
        flex: 0 0 auto
        width: 50%
  @media (min-width: 992px) 
    .row
      .col-lg-4 
        flex: 0 0 auto
        width: 50%
      .col-lg-8 
        flex: 0 0 auto
        width: 50%

.bloque-texto-b.color-secundario:before 
    background-color: #FFF9E2
  
//////// Card hover ////////////
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #E2D5FB
      h4
        color: $color-sistema-texto

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #E2D5FB

    h4
      color: $color-sistema-texto
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em


//CLASES TITULOS//
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background-color: #E2D5FB
  border-radius: 20px
  padding: 10px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: -10px
  width: 80px
.titulo-con-imagen__texto
  margin: 0
  padding-left: 50px
